{% load recipe_extras %}
<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">

        {% if items.has_previous %}
            <li class="pagination__item"><a class="pagination__link link" href="{% my_url 1 'page' request.GET.urlencode %}"><span class="icon-left"></span></a></li>
        {% else %}
            <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
        {% endif %}
        {% for i in '4321'|make_list %}
            {{ page_obj.number }}{{ i }}{{ page_obj.number|subtract:i }}
            {% if page_obj.number|subtract:i >= 0 %}
                <li class="pagination__item"><a class="pagination__link link" href="{% my_url page_obj.number|subtract:i 'page' request.GET.urlencode %}">{{ page_obj.number|subtract:i }}</a></li>
            {% endif %}
        {% endfor %}

        <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">{{ page_obj.number }}</a></li>

        {% for i in '1234'|make_list %}
            {% if items.number|add:i <= page_obj.paginator.num_pages %}
                <li class="pagination__item"><a class="pagination__link link" href="{% my_url page_obj.number|add:i 'page' request.GET.urlencode %}">{{ page_obj.number|add:i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if items.has_next %}
            <li class="pagination__item"><a class="pagination__link link" href="{% my_url items.paginator.num_pages 'page' request.GET.urlencode %}"><span class="icon-right"></span></a></li>
        {% else %}
           <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
        {% endif %}
    </ul>
</nav>