{% load recipe_extras %}
<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">

        {% if items.has_previous %}
            <li class="pagination__item"><a class="pagination__link link" href="{% my_url 1 'page' request.GET.urlencode %}"><span class="icon-left"></span></a></li>
        {% else %}
            <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
        {% endif %}

        <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">{{ page_obj.number }}</a></li>

        {% if items.number|add:'1' <= page_obj.paginator.num_pages %}
            <li class="pagination__item"><a class="pagination__link link" href="{% my_url page_obj.number|add:'1' 'page' request.GET.urlencode %}">{{ page_obj.number|add:'1' }}</a></li>
            {% if items.number|add:'2' <= page_obj.paginator.num_pages %}
                <li class="pagination__item"><a class="pagination__link link" href="{% my_url page_obj.number|add:'2' 'page' request.GET.urlencode %}">{{ page_obj.number|add:'2' }}</a></li>
                    {% if items.number|add:'3' <= page_obj.paginator.num_pages %}
                        <li class="pagination__item"><a class="pagination__link link" href="{% my_url page_obj.number|add:'3' 'page' request.GET.urlencode %}">{{ page_obj.number|add:'3' }}</a></li>
                        {% if items.number|add:'4' <= page_obj.paginator.num_pages %}
                            <li class="pagination__item"><a class="pagination__link link" href="{% my_url page_obj.number|add:'4' 'page' request.GET.urlencode %}">{{ page_obj.number|add:'4' }}</a></li>
                        {% endif %}
                    {% endif %}
            {% endif %}
        {% endif %}

        {% if items.has_next %}
            <li class="pagination__item"><a class="pagination__link link" href="{% my_url items.paginator.num_pages 'page' request.GET.urlencode %}"><span class="icon-right"></span></a></li>
        {% else %}
           <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
        {% endif %}
    </ul>
</nav>