{% extends "base.html" %}
{% load static %}
{% block title %} О проекте {% endblock %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    <main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main__title">Об авторе</h1>
            <p class="lead">Дипломный проект в рамках курса Python-разработчик от Яндекс.Практикум</p>
        </div>
    </div>
    </main>
{% endblock %}