{% extends "base.html" %}
{% load static %}
{% block title %} Технологии {% endblock %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    <main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main__title">Технологии</h1>
            <p>Проект на Django работает с СУБД PostgreSQL.</p>
            <p>Проект запущен на сервере в Яндекс.Облаке в трёх контейнерах: nginx, PostgreSQL и Django+Gunicorn.</p>
            <p>Контейнер с проектом обновляется на Docker Hub.</p>
            <p>В nginx настроена раздача статики, остальные запросы переадресуются в Gunicorn.</p>
            <p>Данные сохраняются в volumes.</p>
        </div>
    </div>
    </main>
{% endblock %}