{% extends 'base.html' %}
{% load static %}
{% load recipe_extras %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">{{ page_title }}</h1>
    </div>
    <div class="card-list">
        {% for item in subscription_list %}
            <div class="card-user" data-author="{{ item.author.id }}">
                <div class="card-user__header">
                    <h2 class="card-user__title">{% firstof item.author.get_full_name item.author.username %}</h2>
                </div>
                <div class="card-user__body">
                    <ul class="card-user__items">
                        {% for recipe in item.author.recipes.all|slice:":3" %}
                            <li class="card-user__item">
                                <div class="recipe">
                                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe__image">
                                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                                    <p class="recipe__text"><span class="icon-time"></span> {{recipe.time }} мин.</p>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="card-user__item">
                            {% if item.author.recipes.count > 3 %}
                                <a href="{% url 'profile' username=item.author.username %}" class="card-user__link link">Еще {{ item.author.recipes.count|add:-3 }} {% declension item.author.recipes.count|add:-3 %}</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="card-user__footer">
                    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
        {% include 'includes/paginator.html'  with items=page_obj paginator=paginator %}
    {% endif %}
{% endblock %}

{% block static_js %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/MyFollow.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/templates/recipes/myFollow.js' %}"></script>
{% endblock %}
