{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <center><h1>Подтвердите удаление</h1></center>
        <div class="custom-center-block">
            <p class="custom-text-block">Вы уверены, что хотите удалить "{{ object }}"?</p>
        </div>
        <div class="custom-button-block">
            <input class="button button_style_blue" type="submit" value="Подтвердить">
        </div>
    </form>
{% endblock %}