{% extends "base.html" %}
{% load static %}
{% block title %} Пароль изменен {% endblock %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="main__title">Пароль успешно изменен</h1>
                <p class="lead" href="{% url 'index' %}">Перейти на главную страницу</p>
                <p class="lead" href="{% url 'logout' %}">Выйти из системы</p>
            </div>
        </div>
    </main>
{% endblock %}