<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>


<body class="body">
    <center><h1>Вы успешно покинули систему</h1></center>


    <main class="main container">
        <center><a href="{% url 'index' %}">Перейти на главную страницу</a></center>

        <center><a href="{% url 'login' %}">Войти в систему</a></center>

    </main>


</body>
</html>




