{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{ page_title }}
{% endblock %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <h1 class="main__title">Вы успешно покинули систему</h1>
    <li class="nav__item"><a href="{% url 'index' %}" class="nav__link link">Перейти на главную страницу</a></li>
    <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти в систему</a></li>
{% endblock %}
