{% extends "base.html" %}
{% load static %}
{% block title %} Изменение пароля {% endblock %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    <main role="main" class="container">
        {% if validlink %}
        <div class="row">
            <div class="col-md-12">
                <h1 class="main__title">Пожалуйста, введите свой новый пароль дважды, чтобы мы могли проверить, правильно ли Вы ввели его. </h1>
            </div>
        </div>
        <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    <div class="form-row field-password1">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% translate 'New password:' %}</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-row field-password2">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                    </div>
                    <input type="submit" value="{% translate 'Change my password' %}">
                </fieldset>
            </form>
        {% else %}
            <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля. </p>
        {% endif %}
    </main>
{% endblock %}
