{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %} Изменение пароля {% endblock %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
    <main role="main" class="container">
        {% if validlink %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="main__title">Изменение пароля</h1>
                    <h3>Пожалуйста, введите свой новый пароль дважды, чтобы мы могли проверить, правильно ли Вы ввели его.</h1>
                </div>
            </div>
            <div class="form-container">
                <form class="form" method="post" action="{% url 'password_reset_complete' %}">
                    {% csrf_token %}
                    <div class="form__group">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% translate 'New password:' %}</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form__group">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                    </div>
                    <div class="form__footer">
                        <button class="button button_style_blue">{% translate 'Change my password' %}</button>
                    </div>
                </form>
            </div>
        {% else %}
            <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля. </p>
        {% endif %}
    </main>
{% endblock %}
