{% extends "base.html" %}
{% load static %}
{% block title %} Пароль сброшен {% endblock %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="main__title">Ссылка на сброс пароля отправленна на почту</h1>
                <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти в систему</a></li>
            </div>
        </div>
    </main>
{% endblock %}
